<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weathericon.jpg">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <hr />
        <span>
            <img class="mypic" src={{timpic}} alt="">
        </span>
        <span>
            <p>Software Engineer/Developer with broad experience in different industries, including Telecom, Financial
                Services and
                Retail. Participates in R&D team to contribute many projects with diverse capabilities in HTML, CSS,
                Java,
                JavaScript,
                Angular, TypeScript, Node.js, MySQL, MongoDB, UNIX, Shell, Agile SCRUM methodology.</p>
        </span>

    </div>

</body>
{{>footer}}


</html>