<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weathericon.jpg">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="mypic" src={{timpic}} alt="">
    </div>

</body>
{{>footer}}


</html>