<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weathericon.jpg">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Contact {{name}} at {{email}} for support</p>
    </div>

 
</body>
    {{>footer}}

</html>