<!doctype html>
<html>

<head>
    <title>Home Page</title>
    <link rel="icon" href="/img/weathericon.jpg">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <hr/>
        <form>
            <h3 color="red">Under Construction</h3>
            <h3>Click on Weather Tab to search your location's weather</h3>
            <input type="text" placeholder="address">
            <button>Search</button>
        </form>
    </div>
<script type="text/javascript" src="/js/client.js"></script>
</body>
{{>footer}}

</html>